name: CI

on:
    push:
        branches: [main, develop]
    pull_request:
        branches: [main, develop]

jobs:
    build:
        runs-on: ubuntu-latest

        env:
            JWT_SECRET: ${{ secrets.JWT_SECRET }}
            ALLOWED_ORIGINS: ${{ secrets.ALLOWED_ORIGINS }}

        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Install pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: 8.15.4

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '20.11.1'
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install

            - name: Check code style
              run: pnpm run lint

            - name: Run tests
              run: pnpm run test:cov
